<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /genericos/phpgeneric/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^view/(.*)$ view/index.php?ruta=$1 [QSA,L]
</IfModule>
